In [ ]:
import pandas as pd

# Write the data from CSV to Notebook
df = pd.read_csv('troop_movements.csv')

In [7]:
df['empire_or_resistance'].value_counts()

empire_or_resistance
resistance    502
empire        498
Name: count, dtype: int64

In [6]:
df['homeworld'].value_counts()

homeworld
Muunilinst      36
Umbara          33
Cerea           33
Quermia         30
Rodia           29
Sullust         29
Kashyyyk        28
Naboo           28
Stewjon         27
Tatooine        27
Glee Anselm     27
Tholoth         26
Trandosha       26
Dagobah         26
Serenno         26
Chandrila       26
Iridonia        26
Dathomir        26
Zolan           25
Vulpter         24
Kalee           24
Concord Dawn    24
Bestine IV      24
Mon Cala        24
Haruun Kal      24
Dorin           23
Troiken         22
Skako           22
Tund            22
Alderaan        21
Aleen Minor     21
Toydaria        21
Socorro         20
Iktotch         20
Malastare       20
Mirial          19
Ojom            18
Corellia        18
Ryloth          17
Shili           14
Champala        12
Eriadu          12
Name: count, dtype: int64